
# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
*.pid
docker-compose.override.yml

# Bytecode cache
*.pyo

# Env
venv/
.venv/

# Uvicorn reload
.reload

*.ipynb